# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
terraform.tfvars
*.backup
.plan

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# ZIP files (for Lambda packaging, if any)
*.zip
